[Unit]
Description=Start VPNMonitor

[Service]
User=jka-server
ExecStart=/home/jka-server/vpnmonitor/vpnmonitor

[Install]
WantedBy=multi-user.target
